:root {
    --logo-bg: #222F3E;
    --navbar-bg: #222f3e;
    --header-bg: #f56600;
    --link-bg: #017185;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: var(--navbar-bg);
}

.logo {
    margin-left: 30px;
    padding: 10px;
}

.logo-img {
    width: 150px;
}

.bottomNavbar {
    background-color: var(--navbar-bg);
    color: white;
}

.navbar-links {
    list-style: none;
    display: flex;
    gap: 15px;
    margin: 0 40px 0 40px;
    padding: 7px;
}